
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>sdfsdf</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durumu</th>
        <th>Kategori Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Müzik</td>
        <td>Açıklama Yapılacak</td>
        <td>True</td>
        <td><button class="btn btn-info">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sinema</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-info">Güncelle</button></td>
    </tr>

</table>
<button class=" btn btn-danger ">Yeni Kategori</button>
<button class=" btn btn-info ">Kategori Listesi</button>
<button class=" btn btn-warning ">Kategori Açıklamaları</button>