
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>sdfsdf</h3>
<br />
<table class=" table table-bordered ">
    <tr>
        <th>ID</th>
    </tr>
</table>
<button class=" btn btn-danger ">Yeni Kategori</button>
<button class=" btn btn-info ">Kategori Listesi</button>
<button class=" btn btn-warning ">Kategori Açıklamaları</button>